*
{
  margin: 0;
  padding: 0;
}

.clearfix {
  clear: both;
}

.wrapper {
  margin: 0 auto;
  width: 1600px;
  background-color: white;
  font-family: sans-serif;
}

.block {
  width: 1500px;
  vertical-align: middle;
  background-color: #efefef;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

header {
  position: relative;
  background-color: #efefef;
  margin-top: 50px;
  height: 749px;
}

.navigation {
  display: inline-block;
  float: right;
  margin-right: 55px;
  margin-top: 35px;
  padding-right: 40px;
  font-size: 18px;
  line-height: 15px;
  vertical-align: middle;
  background-image: url(images/menulink.png);
  background-repeat: no-repeat;
  background-position: right;
  text-decoration: none;
}

.menu-link {
  text-decoration: none;
  color: black;
  float: right;
  width: 200px;
  height: 55px;
}

.navigation:hover {
  opacity: .6;
}

.letter-A {
  float: left;
  background-image: url(images/A.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 749px;
  width: 459px;
  margin-left: 15px;
}
.photographer {
  float: right;
  background-image: url(images/Abackground.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 802px;
  height: 664px;
  margin-top: 30px;
  margin-right: 85px;
}

.header-text-block {
  position: absolute;
  height: 180px;
  width: 490px;
  margin-top: 290px;
  margin-left: 180px;
}

.title-part1 {
  font-weight: bold;
  font-size: 50px;
}

.title-part2 {
  font-size: 50px;
}

.header-text {
  font-size: 18px;
  margin-top: 30px;
  font-style: italic;
}
.about {
  height: 749px;
  position: relative;
}

.letter-P {
  float: left;
  height: 749px;
  width: 369px;
  background-image: url(images/P.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 95px;
}

.about-Apollo {
  float: right;
  margin-top: 180px;
  margin-right: 180px;
  width: 630px;
  height: 500px;
}

.about-text-block {
  height: 370px;
}

.about-title-block {
  background-image: url(images/blackline.png);
  background-repeat: no-repeat;
  background-position: center left;
  padding-left: 115px;
}

.about-title-part1 {
  font-size: 50px;
}

.about-title-part2 {
  font-size: 50px;
  font-weight: bold;
}

.about-text {
  font-size: 18px;
  margin-top: 40px;
  font-style: italic;
}

.social-networks {
  display: inline-block;
  float: left;
  height: 33px;
  margin-top: 65px;
}

.social-network {
  display: inline-block;
  height: 33px;
  width: 33px;
  margin-right: 20px;
}

.social-network-link {
  height: 33px;
  width: 33px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
}

.social-network-link:hover {
  background-color: black;
}

.fb {
  background-image: url(images/fb.png);
}

.twitter {
  background-image: url(images/twitter.png);
}

.instagram {
  background-image: url(images/instagram.png);
  opacity: .45;
}

.instagram:hover {
  background-color: black;
  opacity: 1;
}

.pinterest {
  background-image: url(images/pinterest.png);
}

.camera {
  width: 516px;
  height: 519px;
  background-image: url(images/camera.png);
  background-repeat: no-repeat;
  background-size: contain;
  left: 90px;
  top:120px;
  position: absolute;
}

.photos {
  position: relative;
  background: none;
  margin-left: auto;
  margin-right: auto;
  height: 750px;
  background-image: url(images/womanphoto.png);
  background-repeat: no-repeat;
  background-position: center;
}

.letter-O {
  position: absolute;
  background-image: url(images/O1.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 440px;
  height: 750px;
}

.button-previous {
  float: left;
  width: 125px;
  margin-top: 335px;
  position: absolute;
}

.button-next {
  float: right;
  width: 125px;
  margin-top: 335px;
}

.previous, .next {
  width: 75px;
  height: 75px;
  background-color: #ffffff;
  border: none;
}

.previous {
  float: right;
  background-image: url(images/previous.png);
  background-repeat: no-repeat;
  background-position: center;
  outline: none;
}

.next {
  float: left;
  background-image: url(images/next.png);
  background-repeat: no-repeat;
  background-position: center;
  outline: none;
}

.previous:hover {
  opacity: .6;
}

.next:hover {
  opacity: .6;
}

.discription {
  height: 749px;
}

.letter-l {
  float: left;
  background-image: url(images/L.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 302px;
  height: 749px;
  margin-left: 100px;
}

.discription-picture {
  float: right;
  height: auto;
  margin-right: 85px;
  margin-top: 150px;
}

.description-text-block {
  position: absolute;
  width: 450px;
  text-align: left;
  margin-left: 180px;
  margin-top: 210px;
}

.description-title1 {
  font-weight: bold;
  font-size: 50px;
}

.description-title2 {
  font-size: 50px;
}

.description-text {
  margin-top: 40px;
  font-size: 18px;
  font-style: italic;
}

.gallery {
  height: 749px;
}

.photo-left {
  float: left;
  height: 360px;
  width: 750px;
  margin-top: 195px;
  position: absolute;
}

.photo-right {
  float: right;
  height: 360px;
  width: 750px;
  margin-top: 195px;
}

.photo-center {
  position: absolute;
  height: 449px;
  width: 1500px;
  margin-top: 150px;
}

.photo {
  text-align: center;
}
